@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<address>
    Victor Bukurov, F62526<br />
    21 Montevideo str.<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr> 0888 123 456<br />
    <abbr title="Mail">M:</abbr> <a href="mailto:#">vbookie@gmail.com</a>
</address>